#  Vertex AI / Google Cloud
GOOGLE_CLOUD_PROJECT=your_gcp_project_id
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json

#  FastAPI backend URL
FASTAPI_BASE_URL=

#  Vertex AI RAG Engine
RAG_CORPUS_NAME=